@font-face {
    font-family: "baby-gemoy";
    src: url(fonts/Baby\ Gemoy.woff2) format('woff2');
}

@font-face {
    font-family: "fredoka-one";
    src: url(fonts/FredokaOne-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'fredoka-light';
    src: url('fonts/fredoka-light.woff2') format('woff2');
}

:root {
    --blue: #47F9FF;
    --pale-blue: #baf3f5;
    --bright-pink: #F43DBD;
    --pink: #FF80D5;
    --pale-pink: #ffb8e7;
    --deep-magenta: #BE3094;
    --light-gray: #e9e9e9;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    background-color: var(--bright-pink);
    font-family: "fredoka-one", Arial, Helvetica, sans-serif;
    color: white;
}

/* Start Game Menu */
dialog {
    width: 55vw;
    height: 65vh;
    background-color: var(--bright-pink);
    border-radius: 25px;
    border: none; 
}

dialog::backdrop {
    background-color: var(--deep-magenta);
}

form {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 3rem;
}

label {
    font-family: "baby-gemoy", Arial, Helvetica, sans-serif;
    -webkit-text-stroke: 2.6px black;
    font-size: clamp(3.5rem, 5vw, 4rem);
}

label[for="player-one-name"] {
    color: var(--pink);

}

label[for="player-two-name"] {
    color: var(--blue);
}

input[type="text"] {
    border: none;
    font-family: "fredoka-light", Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding: 18px;
    margin-left: 0.7vw;
    border-radius: 15px;
    font-size: 1.5rem;
}

#start-menu-title {
    color: white;
    font-weight: 400;
    font-size: clamp(3.7rem, 10vw, 5.5rem);
    text-align: center;
    margin-bottom: 0;
}

#name-inputs p {
    display: flex;
    align-items: center;
}

#start-btn {
    font-family: "fredoka-one", Arial, Helvetica, sans-serif;
    font-size: 2.3rem;
    border: none;
    background-color: var(--pink);
    color: white;
    border-radius: 25px;
    padding: 15px 27px;
}

/* Game Screen */
.container {
    height: 95vh;
    display: grid;
    grid-template-areas:"turnText turnText turnText"
                        "p1Score gameBoard p2Score"
                        ". replay .";
    grid-template-columns: 2fr 1fr 2fr;
    align-items: center;
    align-content: center;
    justify-items: center;
}

.current-player {
    text-align: center;
    grid-area: turnText;
    font-size: clamp(2.5rem, 10vw, 5.5rem);
    padding: 2rem;
}

.gameboard {
    grid-area: gameBoard;
    display: grid;
    gap: 1.2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.cell-button {
    background-color: white;
    color: var(--pink);
    border: none;
    width:  min(21vw, 21vh);
    height: min(21vw, 21vh);
    font-family: "baby-gemoy", Arial, Helvetica, sans-serif;
    font-size: clamp(3.5rem, 10vw, 8rem);
    -webkit-text-stroke: clamp(2px, 0.3vw, 4px) black;
    border-radius: 15px;
}

.cell-button:empty:hover {
    background-color: var(--light-gray);
}

.x-symbol {
    color: var(--pink);
}

.o-symbol {
    color: var(--blue);
}

.player-one {
    color: var(--pale-pink);
}

.player-two {
    color: var(--pale-blue);
}

.score-container {
    align-content: center;
    width: 45%;
    text-align: center;
    background-color: var(--pink);
    border-radius: 15px;
    height: 35vh;
}

.p1-container {
    grid-area: p1Score;
}

.p2-container {
    grid-area: p2Score;
}

.p1-name, .p2-name {
    font-size: clamp(1.5rem, 5vw, 2.5rem);
}

.p1-score, .p2-score {
    font-size: clamp(4rem, 5vw, 6rem);
}

.replay-btn {
    visibility: hidden;
    background: url(images/replay.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 5rem;
    height: 5rem;
    border: none;
    grid-area: replay;
    margin-top: 2rem;
}

.replay-btn:hover {
    filter: brightness(0.9);
}

@media only screen and (max-width: 1500px) {
    dialog {
        height: 100vh;
        width: 100vw;
        border-radius: 0;
    }

    .container {
        grid-template-areas: "turnText turnText"
                            "gameBoard gameBoard"
                            "p1Score p2Score"
                            "replay replay";
        grid-template-columns: 1fr 1fr;
    }

    .current-player {
        width: 80vw;
        height: 8vh;
    }

    .score-container {
        width: 70%;
        height: 14vh;
    }

    .gameboard {
        margin-bottom: 2.5rem;
    }
}